@font-face {
    font-family:"arial";
    src:    url("../fonts/arial.eot?")                format("eot"),
            url("../fonts/arial.woff")                format("woff"),
            url("../fonts/arial.ttf")                 format("truetype"),
            url("../fonts/arial.svg#arial")    format("svg");
    font-weight:normal;
    font-style:normal;
}
