@font-face {
    font-family:"OklahomeDeputy";
    src:    url("../fonts/OklahomeDeputy.eot?")                format("eot"),
            url("../fonts/OklahomeDeputy.woff")                format("woff"),
            url("../fonts/OklahomeDeputy.ttf")                 format("truetype"),
            url("../fonts/OklahomeDeputy.svg#OklahomeDeputy")    format("svg");
    font-weight:normal;
    font-style:normal;
}
